:root{
    --input-linear: linear-gradient(120deg,#4d194d,#CC59D2, #9046ff);
    --button-linear: linear-gradient(120deg,#4d194d,#CC59D2, #bc00dd);
    --white:#ffffff;
    --black:#303030;
    --gray:#929292;
    --ligth-gray:#cfcfcf;
}

body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

.login{
    height: 100vh;
    background:var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container{
    min-height: 400px;
    width: 300px;
    background-color:var(--white);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title{
    margin-bottom: 32px;
    color:var(--black);

}

.login-form{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline:none ;
}

.login_input:focus + .login_input-border::after{
    width: 100%;
}

.login_input-border{
    height: 1px;
    width: 200%;
    margin-bottom: 16px;
    background-color:var(--ligth-gray);
    transition: .3s ease-in-out;
}

.login_input-border::after{
  content: '';  
 display: block;
 height: 1px;
 width: 0;
 margin-bottom: 16px;
 background: var(--input-linear);
 transition: .3s ease-in-out;
}

.login_submit{
    height: 48px;
    width: 200%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color:var(--white);
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;

}

.login_submit:hover{
    background-position: right;
}

.login_reset{
    font-size: 12px;
    color:var(--gray);
    text-decoration: none;
}

#pagina{
    height: 100vh;
    background:var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}